.aboutCard{
    padding: 1.1em 1em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: green;
    margin: 4px;
}

.aboutCard h5{
    font-weight: 800;
    margin-bottom: .6em;
    text-align: center;
}

.aboutCard svg{
    height: 64px;
    width : 64px;
}


.aboutCard p{
    text-align: center;
    font-size: 14px;
    margin-bottom: .5em;
}

.cardContent{
    padding: 0em 1em;
}

.buttonsLG{
    justify-content: flex-end;
    display: flex;
}

.buttonsMD{
    margin-top: 1em;
    display: none;
    justify-content: center;
}


.blogButtonBar{
    padding : 0em 1em;
}

.cardDescription{
    font-size: 12px;
}

@media screen and (max-width: 960px) {
    .cardDescription{
        display: none;
    }
    .cardContent{
        padding: 0em;
    }
    .buttonsLG{
        display: none;
    }
    .buttonsMD{
        display: flex;
    }
    .blogButtonBar{
        padding : 0em 0em;
    }
}



