.layout{
    height: 100%;
    background: red;
}

.title span{
    color : var(--primary-color)
}
.header span{
    color : var(--primary-color);
}

.header h5{
    font-weight: 800;
    font-size: 2em;
}
.header h6{
    font-weight: 600;
    font-size: 1em;
}
.actionButton{
    margin-right: 1em;
}

.footer{
    background: rgb(20, 20, 20);
    position: relative;
    bottom: 0;
}



.bottomNav{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: none;
}

.navToggle{
    display: none;
}

.navToolbar {
    padding : '0px 4em';
}

.bottomNav:nth-child(4){
    display: none;
}

.bottomNav nav div{
    min-width: 0px;
}

.nav a{
    text-decoration: none;
    color: black;
}
.nav a:hover{
    color : var(--primary-color);
}

.simpleContainer{
    padding: '2em';
}



@media screen and (max-width: 960px) {
    .simpleContainer{
        padding: '2em 1em';
    }
    .header div{
        text-align: center;
    }
    .navToggle{
        display: block;
    }

    .footer{
        display: none;
    }

    .nav:nth-child(3){
        display: none;
    }
    .bottomNav{
        display: block;
    }

    .eventsCard button{
        display: none;
    }
    .navToolbar{
        padding : '0px';
    }

  }
